.hero {
    display: flex;
    gap: 2vw;
    margin: 0 4vw;
}

.archiviati {
    margin: 0 20vw;
}

@media (max-width: 900px) {
    .hero {
        flex-wrap: wrap-reverse;
        gap: 1vh;
        margin: 0 2vw;
    }

    .archiviati {
        margin: 0 2vw;
    }
}
