.archivia:hover {
    background-color: #e5ae08 !important;
    border-color: #e5ae08 !important;
}

@media (max-width: 900px) {
    .mobile {
        display: flex;
        flex-direction: column;
    }

    .mobile-margin {
        margin: 0 2vw;
    }
}
