.archivia:hover {
    background-color: #263d9b !important;
    border-color: #263d9b !important;
}

.indietro-wrapper {
    display: flex;
    margin-left: 4vw;

    & svg {
        color: #1a2c74;
    }
}

.btn-custom {
    background-color: #1a2c74 !important;
    color: #fff !important;

    &:hover {
        background-color: #263d9b !important;
    }
}

.indietro-button {
    background-color: transparent;
    font-size: 1.2rem;
    border: 2px solid #1a2c74;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease;
}

.indietro-button:hover {
    background-color: #1a2c74;

    & svg {
        color: #fff;
    }
}

.dropdown {
    & ul {
        cursor: pointer;
    }
}

@media (max-width: 900px) {
    .mobile {
        display: flex;
        flex-direction: column;
    }

    .mobile-margin {
        margin: 0 2vw;
    }

    .indietro-wrapper {
        display: flex;
        margin-left: 2vw;
    }
}
